<p>
  Because of the volume of variants in the 18xx series, relative similarity in
  rules, and low of play, all of these matches are aggregated as one game.
</p>

<p>
  Establishing rules for a ranking system is inherently divisive. Especially in
  multiplayer games, each player plays with their own motivations in the context
  of each match played. We assume that, in each match, each player is trying to
  maximize their score. We cannot know their motivations outside of the context
  of the match, such as within a tournament. As such, the goal of a rating
  system cannot be to say one player is better than another unless their
  motivations are aligned. Rather, the goal of a rating system is to say a
  future match would be a close one.
</p>

<p>
  <b
    >We should be careful to say that one player is better than another because
    of the difference in their rating.</b
  >
  Take for example a player <i>A</i> who is only satisfied with 1st place; they
  could see finishing 50% of the time in 1st and 50% of the time in 5th as
  better than another player <i>B</i> always finishing 100% of the time in 2nd.
  This does not make <i>A</i> a bad player, however their rating will be closer
  to the middle percentile with a high variance, while the player
  <i>B</i> should have a rating closer to the upper 20th percentile with a low
  variance. The goal is to have a quantitative metric that predicts <i>A</i> is
  hard to predict, while <i>B</i> is easier to predict that they will do well.
</p>
