<ul>
  <%# these folders are dumb, but developing locally is at root and published
  its at /game-database... must find fix later, too high %>
  <li><a href="http://team-combat.github.io/game-database/games">Game</a></li>
  <li>
    <a href="http://team-combat.github.io/game-database/players">Player</a>
  </li>
</ul>
